body{
    padding: 15px 0;
    box-sizing: border-box;
}
.container{
    padding: 15px 80px;
}
.input{
    width: 285px;
    height: 32px;
}
.btn{
    width: 285px;
    height: 32px;
}
.aside{
    width: 30%;
}
.consciousness{
    width: 70%;
}